<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BACON Restaurante</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
</head>

@using bacon_desktop.Models;
@{

    Receta receta = (Receta)ViewData["receta"];
    List<Ingrediente> ingredientes = (List<Ingrediente>)ViewData["ingredientes"];

    string foto = "https://baconappimagenes.s3-sa-east-1.amazonaws.com/" + receta.Foto;
}
<body class="">
    <div class="">
        <!-- partial:../../partials/_navbar.html -->
        <!-- partial -->
        <div class="">
            <!-- partial:../../partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:../../partials/_sidebar.html -->
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <div>
                                    @if (receta.Foto != "")
                                    {
                                        <img src="@foto" class="img-lg rounded-circle mb-2" alt="profile image">
                                    }
                                    else
                                    {
                                        <img src="https://via.placeholder.com/92x92" class="img-lg rounded-circle mb-2" alt="profile image">
                                    }
                                    <h4>@receta.NombreReceta</h4>
                                    <p class="text-muted mb-0"># @ViewData["Datos"]</p>
                                    <p class="text-muted mb-0">
                                        @*<div class="badge badge-primary">@receta.CategoriaReceta.DescripcionCategoriaReceta</div>*@
                                        <div class="badge badge-primary">ID: @ViewData["Datos"]</div>
                                        <div class="badge badge-primary">Estimación: @receta.CantidadPrepacionDiaria</div>
                                        <div class="badge badge-primary">Duracion: @receta.DuracionPreparacion min</div>
                                    </p>
                                </div>
                                <p class="mt-2 card-text">
                                    @receta.DescripcionReceta
                                </p>
                                <a id="close" class="btn btn-info btn-sm mt-3 mb-4" href="javascript:window.close()">Cerrar la ventana</a>
                                <div class="template-demo">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="pl-0">Nombre del Insumo</th>
                                                <th class="text-right">Cantidad (KG)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var ingrediente in ingredientes)
                                            {
                                                <tr>
                                                    <td class="pl-0">@ingrediente.Insumo.NombreInusmo</td>
                                                    <td class="pr-0 text-right"><div class="badge badge-pill badge-outline-primary text-center">@ingrediente.Cantidad</div></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style type="text/css">
                    .content-wrapper {
                        padding: 0px;
                    }

                    .col-md-12 {
                        padding: 0px;
                    }

                    .card {
                        padding: 0px;
                        border-radius: 0px;
                    }
                </style>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller
    <!-- base:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>

    <script src="~/custom/loginform.js"></script>



</body>
</html>