<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BACON Restaurante</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
</head>

@using bacon_desktop.Models;
@{
    Boleta boleta = (Boleta)ViewData["Boleta"];
    List<RecetaOrdenada> ordenes = (List<RecetaOrdenada>)ViewData["Ordenes"];
}
<body class="">
    <div class="">
        <!-- partial:../../partials/_navbar.html -->
        <!-- partial -->
        <div class="">
            <!-- partial:../../partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:../../partials/_sidebar.html -->
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    
                    
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row" style="padding-top: 12px">
                                    <div class='col-md-12 grid-margin'>
                                        <div class='card-rows'>
                                            <div class='card icon-card-warning mt-4'>
                                                <div class='card-body text-center'>
                                                    <h4>Boleta N° @boleta.IdBoleta </h4><br />
                                                    <div class="badge badge-primary">Fecha emición:  @boleta.Fecha.ToString("dd/MM/yy hh:mm")</div>
                                                    <div class='card icon-card-light mt-4' style='color:black'>
                                                        
                                                        <div class='card-body'><i class='mdi mdi-cash-multiple'></i>Monto Pagado:  @boleta.TotalMesa </div>
                                                        @if (boleta.MedioPago.IdMedioPago == 1)
                                                        {
                                                            <div class='card-body'><i class='mdi mdi-credit-card'></i>Medio Pagado: Tarjeta de credito</div>
                                                        }
                                                        @if (boleta.MedioPago.IdMedioPago == 2)
                                                        {
                                                            <div class='card-body'><i class='mdi mdi-wallet'></i>Medio Pagado: Efectivo </div>
                                                        }
                                                        <br />

                                                    </div>
                                                    <br />
                                                    <div class='card icon-card-light mt-4' style='color:black'>
                                                        <center>
                                                            <table  class="table mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <td class="text-left">Nombre producto</td>
                                                                        <td class="text-left">Precio</td>
                                                                        <td class="text-left">Cantidad</td>
                                                                        <td class="text-left">Precio total</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var orden in ordenes)
                                                                    {
                                                                     <tr>
                                                                         <td>@orden.Receta.NombreReceta </td>
                                                                         <td>@orden.Receta.PrecioReceta </td>
                                                                         <td>@orden.Cantidad</td>
                                                                         <td>@orden.Valor</td>
                                                                    </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a id="close" class="btn btn-info btn-sm mt-3 mb-4" href="javascript:window.close()">Cerrar la ventana</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <style type="text/css">
                    .content-wrapper {
                        padding: 0px;
                    }

                    .col-md-12 {
                        padding: 0px;
                    }

                    .card {
                        padding: 0px;
                        border-radius: 0px;
                    }
                </style>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller
    <!-- base:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>

    <script src="~/custom/loginform.js"></script>



</body>
</html>